.pages-about {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: var(--font-family);
    margin-top: 60px;
}

.pages-about-first, .pages-about-second, .pages-about-third {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.pages-about-first-content, .pages-about-second-content, .pages-about-third-content {
    padding: 80px;
    justify-content: left;
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: auto;
}

.pages-about-first-content h1, .pages-about-services h1 {
    padding: 30px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: var(--font-family);
}

.about-images {
    width: 50%;
}


.about-images-container {
    overflow: hidden;
}

.third {
    background-color: #fff;
}

@media screen and (max-width: 1250px) {
    .pages-about-first, .pages-about-second, .pages-about-third {
        flex-direction: column;
    }

    .pages-about-first-content h1 {
        font-size: 40px;
        margin-top: 80px;
    }
    .pages-about-services h1 {
        font-size: 40px;
    }

    .pages-about-first-content, .pages-about-second-content, .pages-about-third-content {
        padding: 20px 10px 20px 10px;
        text-align: center;
        font-size: 20px;
        width: 90%;
        margin: auto;
    }

    .pages-about-second {
        flex-direction: column-reverse;
    }

    .about-images {
        width: 100%;
    }
}

.pages-about-services {
    background-color: var(--color-blog-one);
    color: var(--color-bg);
}

.pages-about-services p {
    text-align: center;
    padding: 0px 30px 30px 30px;
}

.pages-about-links {
    display: flex;
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.pages-about-links-one {
    background-image: url('/src/assets/dog.webp');
}

.pages-about-links-two {
    background-image: url('/src/assets/cat.webp');
}

.pages-about-links-three {
    background-image: url('/src/assets/rabbit3.webp');
}

.pages-about-links-one, .pages-about-links-two, .pages-about-links-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width: 800px) {
    .pages-about-links {
        flex-direction: column;
        height: 1500px;
    }

    .pages-about-links-one, .pages-about-links-two, .pages-about-links-three {
        height: 500px;
    }
}

.pages-about-links h1 {
    text-align: center;
    font-size: 60px; 
    letter-spacing: 0.1rem;
    font-weight: 900;
}

.pages-about-links a {
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 10em;
    font-size: 20px;
    background-color: #02de0a;
    border: 1px solid #02de0a;
    cursor: pointer;
    padding-top: 10px;
    font-weight: 100;
    letter-spacing: -1px;
}

.pages-about-links a:hover {
    background-color: transparent;
}