.pages-about-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 30px;
    text-align: center;
    
}

.pages-about-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pages-about-footer-links p, a {
    margin: 2%;
}

.pages-about-footer-links a {
    color: #02de0a;
}
